<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                 
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="/home" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="/home">About</a></li>
                        <li class="scroll-to-section"><a href="/home">Contact Us</a></li> 
                        <button class="btn btn-outline-dark text-light" type="submit"class="clssub1" (click) ="login()">{{value}}</button>
                        <button class="btn btn-outline-dark text-light" type="submit" class="clssub1" (click) ="register()">Register</button>
                        
                        
                        
                    </ul>   
                         
                   
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  
  
  
  
  
  