<div class="clscard">

    <mat-card class="clsmat">
  <mat-card-header>
    <mat-card-title class="one">Cummulative Balance</mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <p>
     Balance: {{sum}}
    </p>

  </mat-card-content>

    </mat-card>
  </div>
  <button mat-button (click) = "showbank()" mat-raised-button color ="primary">Banks</button>
  <button mat-button mat-raised-button color="primary" (click) = "goback()">Back to Main Dashboard</button>
  <div class="clscard">
    

    <mat-card *ngFor="let benef of mybeneficiary1" class="clscd">


      <mat-card-header>
        <mat-card-title>{{benef.Name}} - {{benef.Bank}}</mat-card-title>
        <mat-card-subtitle class="acc">A/C No : {{benef.Accno}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <ul>
          <li>IFSC : {{benef.IFSC}}</li>
          <li>Balance : {{benef.Balance}}</li>
        </ul>
      </mat-card-content>
      <!--<button (click)= "updatemybenef()">Update details</button>
      <button  (click) = "deletemybenef()">Delete Beneficiary</button>-->
    </mat-card>

  </div>

