.clsview
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding: 30px;


}
.banke
{
    background: linear-gradient(to bottom, #120b49, #8d87c5,#100947);
}
