
<!-- Label to display any error messages -->
<label class="error-message">{{ errMessage }}</label>

<section class="clsdialog">
  
      <span class="clstit">TRANSACTIONS</span>

      <span>From</span>
  
      <mat-form-field> 
        <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
       <input [(ngModel)]="bank.Name" name="editname" matInput placeholder="A/C Holder Name" type="text" disabled>
      </mat-form-field>

      <mat-form-field>
       <input [(ngModel)]="bank.Accno" name="editnum" matInput placeholder="Account Number" type ="number" disabled>
      </mat-form-field>

      <mat-form-field> 
        <input [(ngModel)]="bank.IFSC" name="editifsc" matInput placeholder="IFSC Code" type="text" disabled>
      </mat-form-field>

      <mat-form-field> 
        <input [(ngModel)]="bank.Balance" name="editbalance" matInput placeholder="Available Balance" type="number" disabled>
      </mat-form-field>

      <span>To</span>

      <mat-form-field> 
        <input [(ngModel)]="transactions.Accno"name="edittoname" matInput placeholder="Enter Account Number" type="text" required>
      </mat-form-field>
      
      <mat-form-field>
        <input [(ngModel)]="transactions.tobank" name="edittonum" matInput placeholder="Enter Bank" type ="text" required>
      </mat-form-field>

      <mat-form-field> 
        <input [(ngModel)]="transactions.toIFSC" name="edittoifsc" matInput placeholder="Enter IFSC Code" type="text" required>
      </mat-form-field>

      <mat-form-field> 
        <input [(ngModel)]="transactions.amount" name="editamt" matInput placeholder="Enter Amount" type="number" required>
      </mat-form-field>

      <div class="clsbutton">
        <button (click) ="callsubmit()" mat-raised-button color ="primary">Submit</button>
        <button (click) = "callcancel()" mat-raised-button color = "primary">Cancel</button>
      </div>
 
  
</section>