.login,
.image {
  min-height: 100vh;
}
.bg-image {
  background-image:url(/assets/images/loginbg.jpg);
  background-size: cover;
  background-position: center center;
}
.col-md-6 d-none d-md-flex bg-image
{
  /* background: linear-gradient(90deg, #0ad6f1, #051c21); */
  background-color : white;
}
.container-fluid
{
  background-color: white;
}
h3
{
  color: black;
}
label{
  color: aliceblue;
}
#right
{
  /* background: linear-gradient(to bottom, #28ccf1, rgb(50, 170, 230), rgb(50, 170, 230)); */
  background : transparent;
  background-image:url(/assets/images/loginbg.jpg);
  background-size: cover;
  background-position: center center;
  
}
